.navbar{
    background-image: linear-gradient(180deg, rgb(70, 70, 255),rgb(80, 80, 255),rgb(110, 110, 255));
}

.nav .nav-link.active{
    background-color: white;
    color: rgb(70, 70, 255);
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
h2{
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.color{ 
    color: yellow;
}

.text-colored, .nav-opcoes .nav-link{
    color: rgb(70, 70, 255);
}

.section-title{
    font-family: 'Kanit', sans-serif;
    font-style: oblique;
}

#sobre{
    background-image: linear-gradient(180deg, rgba(0, 17, 255, 0.050), rgba(0, 68, 255, 0.230),rgba(113, 155, 209, 0.050)); 
}

.nav-opcoes .nav-link.active,
#fale-conosco button {
    color: white;
    background-color: rgb(70, 70, 255);
}

#material {
    background-image: linear-gradient(180deg, rgba(0, 68, 255, 0.060),rgba(0, 17, 255, 0.040),rgba(113, 155, 209, 0.040));
}

textarea{
    resize: none;
}

.social-links li {
    text-decoration: none;
    list-style: none;
    display: inline;
}

.contar{
    display: inline-flex;
    width: 36%;
}

.contador{
    width: 100%;
    border: none;
}

.max{
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 0.01rem;
    border: none;
}

.min{
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
    padding: 0 0.15rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}

.social-links a {
    text-decoration: none;
}

footer{
    background-image: linear-gradient(180deg, rgb(70, 70, 255),rgb(80, 80, 255),rgb(110, 110, 255));
    padding: 16px 0;
    margin-top: 300px;
}

h6{
    color: white;
    font-size: 11px;
}

.icon-link{
    font-size: 35px;
}

del{
    color: gray;
    font-size: 14px;
}

.fw-bold::placeholder{
    color: rgba(128, 128, 128, 0.6);
}

.verde{
    color: green;
}

.vermelho{
    color: red;
}

.modal-content .modal-body button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.modal-content .modal-body button:hover{
    background-color: #198754;
    border: none;
}

.modal {
    --bs-modal-margin: 15rem;
}

.modal .btn{
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;    
    margin-bottom: 0.999rem!important;
}

.modal .btn:hover{
    padding: 5px!important;
    font-size: 0.751rem!important;
}

.btn {
    font-size: 0.751rem!important;
    padding: 4px;
}

strong {
    display: block;
}

@media (max-width: 767px) {
    .modal {
        --bs-modal-margin: 1rem;
        margin-top: 15rem;
    }

    .p-4 {
        padding: 0.5rem !important;
    }

    h1.section-title{
        font-size: 16px;
    }

    .navbar{
        --bs-navbar-toggler-focus-width: 0.0rem;
    }

    button.navbar-toggler{
        background-color: rgba(0, 0, 255, 0);
        font-size: 15px;
        border: none;
        padding: 0;
    }

    .pt-5 {
        padding-top: 1.8rem!important;
    }

    h2.section-title{
        margin-top: 20px;
        font-size: 20px;
    }

    .contador{
        width: 9%;
        margin: 0;
    }

    del{
        display: block;
    }

    h3.section-title{
        font-size: 25px;
    }

    h4.text-colored{
        margin-top: 0px;
    }

    form button {
        margin-bottom: 50px;
    }

    h6.section-title,
    h6.fw-bold{
        font-size: 7px;
    }

    h5.navbar-brand{
        font-size: 10px;
    }

    .fs-5 {
        font-size: 0.7rem!important;
    }

    div.mb-3{
        margin-bottom: 20px!important;
    }

    .cel{
        font-size: 13px;
        margin-bottom: 0;
    }

    .mb-3{
        margin-bottom: 0rem!important;
    }

    .mt-3 {
        margin-top: 0.7rem!important;
    }

    .icon-link{
        font-size: 30px;
    }

    .social-links .fs-5{
        font-size: 1.4rem!important;
    }

    .fs-3{
        font-size:  calc(0.820rem + .6vw)!important;
    }
    
    .fs-1 {
            font-size: calc(0.9rem + 1.5vw)!important;
    }

    .col-md-12{
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {

    .p-4 {
        padding: 0.5rem !important;
    }

    h1.section-title{
        font-size: 25px;
    }

    .fs-3{
        font-size:  calc(1.2rem + .6vw)!important;
    }

    button.navbar-toggler{
        background-color: rgba(0, 0, 255, 0);
        border: none;
    }

    section#sobre .row{
        display: block;
    }

    .col-md-5, .col-md-7 {
        width: 100%;
    }

    .col-md-7 h2,h3{
        text-align: center;
        margin: 25px 0;
    }

    .pb-5 {
        padding-bottom: 5rem!important;
    }

    .pt-5 {
        padding-top: 9.55rem!important;
    }

    #eventos{
        padding-bottom: 245px;
    }

    #material .btn{
        --bs-btn-font-size: 0.6rem;
    }

    div.col-md-10 .row{
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .col-md-3{
        width: 100%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 79.062%;
    }

    .col-md-2{
        width: 20.938%;
    }

    .btn {
        padding: 5px 5px;
        font-size: 0.5rem;
    }

    strong{
        display: block;
    }

    .contador{
        width: 14%;
        padding: 0.01rem;
    }
}